/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  background-color: #0069e1;
  background: url(../images/header-background-sticky.png);
  background-size: cover;
}

.jumbo-nav {
  margin: 0 auto;
}

.jumbo-nav .navigation-wrapper {
  background: url(../images/hero-skyline.png) no-repeat;
  min-height: 200px;
  background-position: center;
  background-size: cover;
}

.jumbo-nav .navigation-wrapper .container {
  padding-top: 250px;
}

.jumbo-nav .navigation-wrapper .navigation .header-logo {
  width: 294px;
  height: auto;
  padding-top: 65px;
  margin: 0 auto;
  z-index: 2;
  position: relative;
}

.jumbo-nav .navigation-wrapper .navigation .header-logo img {
  width: 100%;
  height: auto;
  display: block;
}

.header-logo a:hover img {
  -webkit-animation: ease-out-back .4s ease-out;
  animation: ease-out-back .4s ease-out;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}

.jumbo-nav .navigation-wrapper .navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 250px;
  z-index: 1;
  overflow: hidden;
}

.jumbo-nav .navigation-wrapper .navigation:before,
.jumbo-nav .navigation-wrapper .navigation:after {
    content: '';
    display: block;
    width: calc(50% - 234px);
    height: 150px;
    position: absolute;
    top: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: 965px 118px;
    margin-top: 50px;
}


.navigation-wrapper ul li {
    display: inline-block;
    vertical-align: bottom;
    position: relative;
}

.enhanced {
  background-color: rgba(255,255,255,0.75);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px rgba(0,0,0,0.5);
  margin-bottom: 30px;
}

.pokeball-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}

.pokeball-wrapper img {
  margin-top: -20px;
  max-width: 40px;
}

img.pokemon.small {max-height: 120px;
    padding: 5px;
    float: left;
    margin: 0 10px 0 0;
}

/** bootstrap overwrites **/
.navbar-inverse {
  background-color: rgba(0,0,0,0.5);
  border: none;
}

.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:focus, 
.navbar-inverse .navbar-nav>.active>a:hover {
    background-color: #ffcb05;
    text-shadow: 0px 0px 5px #0069e1;
}

/* CSS PROPIO */

.footer {
  background-color: rgb(0,0,0);
  height: 70px;
  border: none;
  padding-bottom: 20px;
  padding-top: 20px;
}

#footer-especial {
  background-color: rgb(0,0,0) !important;
}

.footer-nav li a {
  color: #fff !important;
}

.nav>li>a:hover {
  background-color: transparent;
}

.projectname {
  color: #fff !important;
}

.jumbo-nav #pokedexNav {
  background: url(../images/hero-skyline.png) no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

#typeImg {
  max-width: 40px;
}

.raidWeatherIcon{
  max-width: 30px;
}

.raidTypeIcon{
  max-width: 30px;
}

div#raid-icons {
  justify-content: space-between;
  display: flex;
}

.equipo {
  margin: 0 !important;
  float: none !important;
}

.equipo-div {
  margin: 10px 10px 40px 10px;
}

.twitter-div {
  max-height: 350px;
  overflow: scroll;
}

img.trainer.medium {max-height: 250px;
  padding: 5px;
  float: left;
  margin: 0 10px 0 0;
}


#addPokemon{
  margin: 20px;
}

#pokedex-bottom{
  text-align: center;
}

.text-trainer-idx {
  margin: 5px;
}

.raidTierIcon{
  filter:invert(0.7)
}